.email {
  display: block;
  padding: 7px;
  color: rgb(202, 202, 202);
}

.password {
  display: block;
  padding: 7px;
  color: rgb(202, 202, 202);
}

.container {
  height: 100vh;
  background-color: rgba(39, 39, 39, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0;
  color: white;
  margin-bottom: 130px;
  font-size: 40px;
}

.field {
  padding-left: 5px;
}

input {
  width: 70%;
  height: 30px;
  margin-bottom: 14px;
  border: none;
  border-radius: 7px;
  padding: 5px;
}

.button-login {
  width: 72%;
  border: none;
  border-radius: 10px;
  /* background-color: rgba(134, 92, 255, 255); */
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  padding: 14px;
  margin-top: 25px;
  margin-left: 5px;
  background-image: linear-gradient(
    to right,
    rgb(163, 133, 255),
    rgb(77, 17, 255)
  );
}

.error {
  color: red;
  font-size: 16px;
  margin: 5px 0 0 10px;
  display: block;
}
